@model TestM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for=Id />
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="ImgUrl"></label>
    <input type="file" name="file" asp-for=ImgUrl />

</form>
