@*  @model IEnumerable<Personel>  *@

    @model IEnumerable<PersonelVM>
    <h3>Toplam = @ViewBag.PersonelCount</h3>
    <ul>
    @foreach (var item in Model)
    {
        <li>
            @* @item.Id - @item.Name *@
            @item
        </li>
    }
    </ul>
        